[buildout]
extends = base.cfg
extensions = mr.developer
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = force
include-site-packages = false
#allow-hosts = *.python.org

parts +=
    pil
    pydev
    test
    coverage

[sources]
node                        = git git@github.com:bluedynamics/node.git
node.ext.ugm                = git git@github.com:bluedynamics/node.ext.ugm.git
odict                       = git git@github.com:bluedynamics/odict.git
plumber                     = git git@github.com:bluedynamics/plumber.git
yafowil                     = git git@github.com:bluedynamics/yafowil.git
yafowil.yaml                = git git@github.com:bluedynamics/yafowil.yaml.git
yafowil.webob               = git git@github.com:bluedynamics/yafowil.webob.git
yafowil.bootstrap           = git git@github.com:bluedynamics/yafowil.bootstrap.git
yafowil.widget.autocomplete = git git@github.com:bluedynamics/yafowil.widget.autocomplete.git
yafowil.widget.datetime     = git git@github.com:bluedynamics/yafowil.widget.datetime.git
yafowil.widget.image        = git git@github.com:bluedynamics/yafowil.widget.image.git
yafowil.widget.wysihtml5    = git git@github.com:bluedynamics/yafowil.widget.wysihtml5.git branch=bootstrap3-styles
yafowil.widget.select2      = git git@github.com:bluedynamics/yafowil.widget.select2.git
yafowil.widget.location     = git git@github.com:bluedynamics/yafowil.widget.location.git
yafowil.widget.recaptcha    = git git@github.com:bluedynamics/yafowil.widget.recaptcha.git
cone.tile                   = git git@github.com:bluedynamics/cone.tile.git
cone.app                    = git git@github.com:bluedynamics/cone.app.git branch=bootstrap3-styles
bdajax                      = git git@github.com:bluedynamics/bdajax.git
chronotope                  = git git@github.com:rnixx/chronotope.git

[pil]
recipe = zc.recipe.egg:custom
egg = Pillow
# Ubuntu development
library-dirs = /usr/lib/x86_64-linux-gnu

[pydev]
recipe = pb.recipes.pydev
eggs = ${instance:eggs}

[testenv]
YAFOWIL_FORCE_DUMMY_TSF = True
YAFOWIL_FORCE_DEFAULTS = True
TESTRUN_MARKER = True

[test]
recipe = zc.recipe.testrunner
environment = testenv
defaults = ['--auto-color', '--auto-progress']
eggs =
    Pillow
    souper[test]
    cone.tile[test]
    cone.app[test]
    chronotope[test]
    odict[test]
    plumber[test]
    yafowil[test]
    yafowil.yaml[test]
    yafowil.webob
    yafowil.widget.autocomplete[test]
    yafowil.widget.datetime[test]
    yafowil.widget.image[test]
    yafowil.widget.wysihtml5[test]
    yafowil.widget.select2[test]
    yafowil.widget.location[test]
    yafowil.widget.recaptcha[test]
    node.ext.ugm[test]
    node[test]

[coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    ./bin/test --coverage ../../coverage -v --auto-progress "$@"
output = ${buildout:directory}/bin/coverage
mode = 755
