[buildout]
extends = base.cfg
extensions = mr.developer
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = force
include-site-packages = false
#allow-hosts = *.python.org

parts +=
    pil

[pil]
recipe = zc.recipe.egg:custom
egg = Pillow

[sources]
node                        = git git@github.com:bluedynamics/node.git
node.ext.ugm                = git git@github.com:bluedynamics/node.ext.ugm.git
odict                       = git git@github.com:bluedynamics/odict.git
plumber                     = git git@github.com:bluedynamics/plumber.git
yafowil                     = git git@github.com:bluedynamics/yafowil.git
yafowil.yaml                = git git@github.com:bluedynamics/yafowil.yaml.git
yafowil.webob               = git git@github.com:bluedynamics/yafowil.webob.git
yafowil.bootstrap           = git git@github.com:bluedynamics/yafowil.bootstrap.git
yafowil.widget.autocomplete = git git@github.com:bluedynamics/yafowil.widget.autocomplete.git
yafowil.widget.datetime     = git git@github.com:bluedynamics/yafowil.widget.datetime.git
yafowil.widget.image        = git git@github.com:bluedynamics/yafowil.widget.image.git
yafowil.widget.wysihtml5    = git git@github.com:bluedynamics/yafowil.widget.wysihtml5.git
yafowil.widget.select2      = git git@github.com:bluedynamics/yafowil.widget.select2.git
yafowil.widget.location     = git git@github.com:bluedynamics/yafowil.widget.location.git
yafowil.widget.recaptcha    = git git@github.com:bluedynamics/yafowil.widget.recaptcha.git
cone.tile                   = git git@github.com:bluedynamics/cone.tile.git
cone.app                    = git git@github.com:bluedynamics/cone.app.git
bdajax                      = git git@github.com:bluedynamics/bdajax.git
chronotope                  = git git@github.com:rnixx/chronotope.git
